.main-title
  color: red

.main-content
  margin: 0
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)


.main-username-input
  display: flex

.main-get-repositories-button
  top: 50%
